{% extends 'partials/base.html.twig' %}


{% block content %}
<section id="head">
	<img src="{{ url('theme://images/dekujeme.jpg') }}" alt="TA–PE–TY OPEN-CALL" title="TA–PE–TY OPEN-CALL">
	<!--<a class="btn" href="#">English</a>-->
</section>

<section id="content">
	<div class="btn-container">
		<a class="btn" href="/">Zpět na hlavní stránku</a>
	</div>
</section>

{% endblock %}
